/* ==== BODY ==== */
*{
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
}
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main{
    flex: 1 0 auto;
}

/* ==== NAVBAR ==== */
.home{
    z-index: 1000;
}
.home nav{
    height: 125px;
    position: sticky;
    top: 0;
}
.home .brand-logo img{
    height: 120px;
    width: 300px;
}
.home .nav-wrapper{
    background-color: #363759;
}
.home .nav-icons{
    position: relative;
    left: 60%;
    top: 55px;
    width: fit-content;
}
.nav-icons-list{
    background-color: #363759;
}
.home .material-icons{
    color: white;
    margin: 0 25px;
}
.home .material-icons:hover {
    color: #F2D9BB;
}

/* ==== FOOTER ==== */
footer{
    position: sticky;
    top: 300px;
}
.page-footer{
    background-image: url(../img/backgroundfooter.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right;
}
.page-footer .socialtitle h5{
    font-size: 1.4rem;
    font-weight: 700;
    color: #363759;
    text-shadow: 1px 1px 3px #F2D9BB;
}
.page-footer .sociallinks ul li a{
    font-size: 1.3rem;
    font-weight: 600;
    list-style: none;
    color: #363759;
    text-shadow: 1px 1px 3px #F2D9BB;
}
.footer-copyright div{
    font-size: 1.1rem;
    font-weight: 500;
    text-align: right;
    color: #363759;
}

/* ==== PRINCIPAL ==== */
.principal{
    padding: 20px;
}
.principal h5{
    margin: 30px 0;
    color: #363759;
    font-weight: 500;
    font-size: 2rem;
}
.principal p{
    margin: 30px 0;
    color: #616161;
    font-size: 1.2rem;
    font-weight: lighter;
    line-height: 2.8rem;
}


/* ==== LOGIN ==== */
#paginalogin{
    background-image: url(../img/backgroundlogin.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.login{
    background-color: white;
    box-shadow: 3px 3px 6px 1px #eeeeee;
    border-radius: 100px;
    margin: 50px 0;
    width: 60%;
    align-self: center;
}
.login h5{
    color: #363759;
    margin-bottom: 30px;
}
.login .input-field label {
    color: #9e9e9e;
    font-weight: 500;
}
.login .input-field input[type=email]:focus {
    border-bottom: 1px solid #F2D9BB;
    box-shadow: 0 1px 0 0 #fafafa;
}
.login .input-field input[type=text]:focus {
    border-bottom: 1px solid #F2D9BB;
    box-shadow: 0 1px 0 0 #fafafa;
}
.login .input-field input[type=password]:focus {
    border-bottom: 1px solid #F2D9BB;
    box-shadow: 0 1px 0 0 #fafafa;
}
.login .input-field input[type=email]:focus + label {
    color: #F2D9BB;
}
.login .input-field input[type=text]:focus + label {
    color: #F2D9BB;
}
.login .input-field input[type=password]:focus + label {
    color: #F2D9BB;
}
.login .input-field input[type=email].valid {
    border-bottom: 1px solid #F2D9BB;
    box-shadow: 0 1px 0 0 #fafafa;
}
.login .input-field input[type=text].valid {
    border-bottom: 1px solid #F2D9BB;
    box-shadow: 0 1px 0 0 #fafafa;
}
.login .input-field input[type=password].valid {
    border-bottom: 1px solid #F2D9BB;
    box-shadow: 0 1px 0 0 #fafafa;
}
.login button{
    background-color: #F2D9BB;
    color: #363759;
    margin: 30px 0;
    font-size: small;
}
.login button a{
    color: #363759;
    margin: 30px 0;
    font-size: small;
    font-weight: 600;
}
.login form .erro{
    color: #F29441;
    font-size: medium;
}


/* ==== CREATE PRODUTO ==== */
.createProduto{
    margin: 20px 0;
    line-height: 5rem;
}
.createProduto .tituloinput h5{
    font-weight: 500;
    color: #363759;
    margin-bottom: 20px;
}
.createProduto .tituloinput p{
    font-weight: lighter;
    font-size: medium;
    color: #363759;
    margin-bottom: 20px;
}
body .createProduto form div{
    margin-bottom: 20px;
}
.createProduto .input-field label {
    color: #ADC5D9;
}
.createProduto .input-field .material-icons {
    color: #ADC5D9;
}
.createProduto .file-field .material-icons {
    color: #363759;
}
.createProduto .input-field input[type=text]:focus + label {
    color: #ADC5D9;
}
.createProduto .input-field input[type=email]:focus + label {
    color: #ADC5D9;
}
.createProduto .input-field input[type=password]:focus + label {
    color: #ADC5D9;
}
.createProduto .input-field input[type=text]:focus {
    border-bottom: 2px solid #F29441;
    box-shadow: 0 1px 0 0 #fafafa;
}
.createProduto .input-field input[type=email]:focus {
    border-bottom: 2px solid #F29441;
    box-shadow: 0 1px 0 0 #fafafa;
}
.createProduto .input-field input[type=password]:focus {
    border-bottom: 2px solid #F29441;
    box-shadow: 0 1px 0 0 #fafafa;
}
.createProduto .input-field input[type=text].valid {
    border-bottom: 1px solid #ADC5D9;
    box-shadow: 0 1px 0 0 #fafafa;
}
.createProduto .input-field input[type=email].valid {
    border-bottom: 1px solid #ADC5D9;
    box-shadow: 0 1px 0 0 #fafafa;
}
.createProduto .input-field input[type=password].valid {
    border-bottom: 1px solid #ADC5D9;
    box-shadow: 0 1px 0 0 #fafafa;
}
.createProduto .input-field .prefix.active {
    color: #F29441;
}
.createProduto .btn{
    background-color: #ADC5D9;
}
.createProduto button[type=submit]{
    color: #363759;
}
.createProduto .p-campo-obrg p{
    font-size: 1rem;
    color: #363759;
}
.createProduto form .erro{
    color: #F29441;
    font-size: medium;
}

/* ==== CREATE USUÁRIO ==== */
.createUsuario{
    margin: 20px 0;
}
.createUsuario .tituloinput h5{
    font-weight: 500;
    color: #363759;
    margin-bottom: 20px;
}
body .createUsuario form div{
    margin-bottom: 20px;
}
.createUsuario .input-field label {
    color: #363759;
}
.createUsuario .input-field .material-icons {
    color: #363759;
}
.createUsuario .input-field input[type=text]:focus + label {
    color: #363759;
}
.createUsuario .input-field input[type=email]:focus + label {
    color: #363759;
}
.createUsuario .input-field input[type=password]:focus + label {
    color: #363759;
}
.createUsuario .input-field input[type=text]:focus {
    border-bottom: 2px solid #F29441;
    box-shadow: 0 1px 0 0 #fafafa;
}
.createUsuario .input-field input[type=email]:focus {
    border-bottom: 2px solid #F29441;
    box-shadow: 0 1px 0 0 #fafafa;
}
.createUsuario .input-field input[type=password]:focus {
    border-bottom: 2px solid #F29441;
    box-shadow: 0 1px 0 0 #fafafa;
}
.createUsuario .input-field input[type=text].valid {
    border-bottom: 1px solid #ADC5D9;
    box-shadow: 0 1px 0 0 #fafafa;
}
.createUsuario .input-field input[type=email].valid {
    border-bottom: 1px solid #ADC5D9;
    box-shadow: 0 1px 0 0 #fafafa;
}
.createUsuario .input-field input[type=password].valid {
    border-bottom: 1px solid #ADC5D9;
    box-shadow: 0 1px 0 0 #fafafa;
}
.createUsuario .input-field .prefix.active {
    color: #F29441;
}
.createUsuario .btn{
    background-color: #ADC5D9;
}
.createUsuario button[type=submit]{
    color: #363759;
}
.createUsuario form .erro{
    color: #F29441;
    font-size: medium;
}


/* ==== CADASTRO USUARIO SUCESSO ==== */
.usuarioOK{
    height: 500px;
    background-image: url(../img/fada.png);
    background-repeat: no-repeat;
    background-size: 400px;
}
.usuarioOK h6{
    font-size: 1.8rem;
    font-weight: lighter;
    color: #363759;
    margin-top: 150px;
}
.usuarioOK a{
    font-size: 1.4rem;
    font-weight: lighter;
    color: #F29441;
}

/* ==== PRODUTOS ==== */
.listaProdutos{
    margin: 20px 0;
    line-height: 4rem;
}
.listaProdutos .tituloinput h5{
    font-weight: 500;
    color: #363759;
    margin-bottom: 20px;
}
.listaProdutos .tituloinput p{
    font-weight: lighter;
    font-size: medium;
    color: #363759;
    margin-bottom: 20px;
}
.listaProdutos table tr{
    border: none;
}
.listaProdutos table th{
    background-color: #363759;
    border: none;
    color: white;
    font-size: 1.2rem;
    padding-left: 15px;
}
.listaProdutos table tr:hover{
    background-color: #fbe9e7;
}
.listaProdutos .tablevalue{
    font-size: 1.2rem;
    color: #424242;
    padding-left: 15px;
    height: 10px;
}
.listaProdutos .tablevalue:first-child{
    font-size: 1.2rem;
    color: #212121;
}
.listaProdutos .botaomais{
    background-color: #ADC5D9;
    color: #363759;
    position: relative;
    bottom: 2px;
}
.listaProdutos .botaomais i{
    color: #363759;
}


/* ==== SHOW PRODUTO ==== */
.showProduto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.showProduto .card{
    padding: 20px;
    margin-top: 30px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.showProduto .card .logoreceita{
    width: 30%;
    opacity: 0.5;
    filter: grayscale(100%);
    margin-bottom: 20px;
}
.showProduto .card .card-title{
    margin-bottom: 20px;
    color: #363759;
    font-size: 1.4rem;
}
.showProduto .card .card-content p{
    margin-bottom: 20px;
    color: #424242;
    font-size: 1.2rem;
}
.showProduto .card .card-image{
    margin-bottom: 30px;
    width: 90%;
}
.showProduto .card .card-action a{
    text-transform: lowercase !important;
    font-size: 1.2rem;
}